/* CSS FILE USED FOR loopbaan.html */
main > header {
    padding-top: 11rem;
    padding-left: var(--body-side-padding);
    padding-right: var(--body-side-padding);
    padding-bottom: 4rem;
}

main > header > h1 {
    padding-bottom: 1rem;
}

#timeline {
    background-color: var(--secondary-color-light);
    padding-top: var(--body-side-padding);
    padding-left: var(--body-side-padding);
    padding-right: var(--body-side-padding);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
    'card-minister-president                   timestamp-nu  '
    'card-minister-president                   timestamp-2024'
    'card-pvda                                 timestamp-2021'
    'card-secretaris-generaal                  timestamp-2020'
    'card-aivd                                 timestamp-2018'
    'card-nctv                                 timestamp-2013'
    'card-politie                              timestamp-2010'
    'card-oov                                  timestamp-2003'
    'card-ind                                  timestamp-1999'
    'card-plaatsvervangend-secretaris-generaal timestamp-1996'
    'card-ambtenaar                            timestamp-1988'
    'card-beleidsmedewerker                    timestamp-1982'
    'card-studie                               timestamp-1975'
    'card-vwo                                  timestamp-1969'
    'card-verhuisd                             timestamp-1965'
    'card-geboren                              timestamp-1957';
    /* Vertically align content to the bottom of the row */
    align-items: end;
    row-gap: 2rem;
    column-gap: 4rem;
    position: relative;
}

#card-minister-president {
    grid-area: card-minister-president;
}

#card-pvda {
    grid-area: card-pvda;
}

#card-secretaris-generaal {
    grid-area: card-secretaris-generaal;
}

#card-aivd {
    grid-area: card-aivd;
}

#card-nctv {
    grid-area: card-nctv;
}

#card-politie {
    grid-area: card-politie;
}

#card-oov {
    grid-area: card-oov;
}

#card-ind {
    grid-area: card-ind;
}

#card-plaatsvervangend-secretaris-generaal {
    grid-area: card-plaatsvervangend-secretaris-generaal;
}

#card-ambtenaar {
    grid-area: card-ambtenaar;
}

#card-beleidsmedewerker {
    grid-area: card-beleidsmedewerker;
}

#card-studie {
    grid-area: card-studie;
}

#card-vwo {
    grid-area: card-vwo;
}

#card-verhuisd {
    grid-area: card-verhuisd;
}

#card-geboren {
    grid-area: card-geboren;
}

#mobile-timestamp-nu {
    grid-area: nu;
}

#desktop-timestamp-nu {
    grid-area: timestamp-nu;
    /* Vertically align to the top of the row */
    align-self: start;
}

#desktop-timestamp-2024 {
    grid-area: timestamp-2024;
}

#desktop-timestamp-2021 {
    grid-area: timestamp-2021;
}

#desktop-timestamp-2020 {
    grid-area: timestamp-2020;
}

#desktop-timestamp-2018 {
    grid-area: timestamp-2018;
}

#desktop-timestamp-2013 {
    grid-area: timestamp-2013;
}

#desktop-timestamp-2010 {
    grid-area: timestamp-2010;
}

#desktop-timestamp-2003 {
    grid-area: timestamp-2003;
}

#desktop-timestamp-1999 {
    grid-area: timestamp-1999;
}

#desktop-timestamp-1996 {
    grid-area: timestamp-1996;
}

#desktop-timestamp-1988 {
    grid-area: timestamp-1988;
}

#desktop-timestamp-1982 {
    grid-area: timestamp-1982;
}

#desktop-timestamp-1975 {
    grid-area: timestamp-1975;
}

#desktop-timestamp-1969 {
    grid-area: timestamp-1969;
}

#desktop-timestamp-1965 {
    grid-area: timestamp-1965;
}

#desktop-timestamp-1957 {
    grid-area: timestamp-1957;
}

/* Styling for a whole card */
.timeline__card {
    background-color: var(--background-color);
    padding: 32px;
    border-radius: 16px;
    z-index: 5;
}

.timeline__card__body {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
}

.timeline__card__body:has(aside) {
    grid-template-columns: 2fr 1fr;
}

/* Text contents of a card */
.timeline__card__body > section {
    display: grid;
    /* Vertically align contents to the top */
    align-content: start;
    gap: 1rem;
}

.timeline__card__body a.button {
    /* Horizontally align contents to the right */
    justify-self: end;
    /* Vertically align to the bottom */
    align-self: end;
}

/* Image contents in the aside of a card */
.timeline__card__body > aside {
    /* Vertically align contents to the bottom */
    align-self: end;
}

.timeline__card__body img {
    /* Again, this fixes alignment */
    display: grid;
    width: 100%;
    border-radius: 16px;
}

/* These are for mobile */
.timeline__timestamp {
    display: none;
    color: var(--text-color-light);
    background-color: var(--primary-color);
    border-radius: 16px 16px 0 0;
    padding: 0.5rem 1rem;
    text-align: center;
    z-index: 5;
}

#mobile-timestamp-nu {
    border-radius: 16px;
    width: 50%;
}

/* Specific layout for the minister-president card */
#card-minister-president section.timeline__card__body > section {
    grid-template-rows: 1fr auto auto auto;
}

/* Specific styling for the PvdA card */
#card-pvda .timeline__card__body {
    grid-template-columns: auto auto;
    /* Horizontally align to the center */
    justify-items: center;
}

#card-pvda img {
    border-radius: 0;
    height: 10rem;
    width: auto;
}

/* Timestamps on the side */
.desktop-timestamp {
    background-color: var(--background-color);
    padding: 16px;
    border-radius: 16px;
    text-align: right;
    text-wrap: nowrap;
    z-index: 5;
}

#timeline-bar {
    /* Positioned relative to #timeline, who is also this element's grid parent */
    position: absolute;
    display: block;
    width: 16px;
    height: 100%;
    /* Stretch out from the top to the bottom of the grid parent */
    grid-row: 1 / -1;
    grid-column: 2;
    /* Center horizontally */
    justify-self: center;
    transform: translateX(-200%);
    background: linear-gradient(180deg, var(--primary-color-light), var(--primary-color));
}

#timeline-bottom {
    display: grid;
    /* Horizontally align to the center */
    justify-content: center;
    text-align: center;
    background-color: var(--secondary-color-light);
    padding: var(--body-side-padding);
}

#timeline-bottom > a.button {
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    /* Put the aside images below the text, instead of to the right */
    .timeline__card__body:has(aside) {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 880px) {
    #timeline {
        column-gap: 1rem;
    }

    h2 {
        word-break: break-word;
    }
}

@media only screen and (max-width: 768px) {
    /* Style mobile h2 like mobile h4 */
    h2 {
        font-size: 1.5rem;
        line-height: 140%;
    }

    /* Style mobile h3/h4 like mobile h5 */
    h3.h4 {
        font-size: 1.25rem;
        line-height: 140%;
    }

    main > header {
        padding-top: var(--body-side-padding);
    }

    #timeline {
        background-color: var(--secondary-color-light);
        padding-top: var(--body-side-padding);
        padding-left: var(--body-side-padding);
        padding-right: var(--body-side-padding);
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
        'nu'
        'card-minister-president'
        'card-pvda'
        'card-secretaris-generaal'
        'card-aivd'
        'card-nctv'
        'card-politie'
        'card-oov'
        'card-ind'
        'card-plaatsvervangend-secretaris-generaal'
        'card-ambtenaar'
        'card-beleidsmedewerker'
        'card-studie'
        'card-vwo'
        'card-verhuisd'
        'card-geboren';
        /* Horizontally align to center */
        justify-items: center;
    }

    #timeline-bar {
        grid-column: 1;
        transform: translateX(-50%);
        background: linear-gradient(180deg, var(--accent-color-light), var(--accent-color));
    }

    .desktop-timestamp {
        display: none;
    }

    .timeline__timestamp {
        display: inline-block;
    }

    .timeline__card {
        padding: 0;
    }

    .timeline__card > header {
        display: grid;
        padding-bottom: 16px;
    }

    .timeline__card > header > h2, .timeline__card > header > h3, .timeline__card__body {
        padding-left: 16px;
        padding-right: 16px;
    }

    .timeline__card__body {
        padding-bottom: 16px;
    }

    .timeline__card > header > h2 {
        padding-top: 16px;
    }
}

@media only screen and (max-width:550px) {
    /* Specific styling for the PvdA card */
    #card-pvda .timeline__card__body {
        grid-template-columns: auto;
    }
}