/* MAIN CSS FILE USED FOR ALL PAGES ON THE SITE */
/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Shanti&display=swap');

/* Remove browser default styling */
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    max-width: 100vw;
}

/* Color variables */
:root {
    --primary-color-light: #226792;
    --primary-color: #154273;
    --primary-color-dark: #0E2467;
    --secondary-color-light: #A3C6EB;
    --secondary-color: #8EA9DE;
    --secondary-color-dark: #7683D7;
    --accent-color: #F18F01;
    --accent-color-light: #FFC31F;
    --background-color: #FFF;
    --background-color-dark: #EBF6FB;
    --text-color-dark: #000;
    --text-color-light: #FFF;
    /* Padding used on the sides of the page */
    --body-side-padding: 64px;
    /* cubic-bezier curve used for transition */
    --transition-overshoot: cubic-bezier(0, 0, 0.65, 1.73);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto Slab", serif;
    font-weight: bold;
}

/* Heading font sizes for desktop */
h1, .h1 {
    font-size: 3.5rem;
    line-height: 120%;
}

h2, .h2 {
    font-size: 3rem;
    line-height: 120%;
}

h3, .h3 {
    font-size: 2.5rem;
    line-height: 120%;
}

h4, .h4 {
    font-size: 2rem;
    line-height: 130%;
}

h5, .h5 {
    font-size: 1.5rem;
    line-height: 140%;
}

h6, .h6 {
    font-size: 1.25rem;
    line-height: 140%;
}

/* All text besides headings */
p, span, a, blockquote, figcaption {
    font-family: "Shanti", sans-serif;
    line-height: 150%;
}

.text-large {
    font-size: 1.25rem;
}

.text-small {
    font-size: 0.875rem;
}

/* Buttons */
.button {
    /* Display the text as one whole block; not inline */
    display: inline-block;
    box-sizing: border-box;
    padding: 0.5em 1em;
    border-radius: 8px;
    background-color: var(--accent-color-light);
    color: var(--text-color-dark);
    text-align: right;
    text-wrap: balance;
    text-decoration: none;
    /* box-shadow: color, x-offset, y-offset, blur radius */
    box-shadow: rgba(0, 0, 0, 20%) 0 2px 8px;
    transform: scale(100%);
    /* Transform has an ease-out with slight overshoot animation */
    transition: background-color 100ms, transform 100ms var(--transition-overshoot);
}

.button:hover {
    background-color: var(--accent-color);
    transform: scale(105%);
}

/* Navbar for desktop */
#main-navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0 48px;
    background: linear-gradient(5deg, var(--primary-color), var(--primary-color-dark));
    /* box-shadow: color, x-offset, y-offset, blur radius */
    box-shadow: rgba(0, 0, 0, 30%) 0 1px 16px;
    z-index: 10;
}

#main-navbar > ul {
    display: grid;
    grid-template-columns: 1fr repeat(5, auto);
    /* Horizontally align the columns to the center*/
    justify-content: center;
    /* Vertically center the li */
    align-items: center;
    gap: 4ch;
}

/* Navbar pills / buttons */
#main-navbar > ul > li > a {
    display: inline-block;
    color: var(--text-color-light);
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 16px;
    text-wrap: nowrap;
    transition: background-color 100ms;
}

#main-navbar > ul > li > a:hover {
    background-color: rgba(0, 0 , 0, 0.2);
}

/* Add white underline to all nav pills that aren't the logo */
#main-navbar > ul > li:not(#main-navbar__logo) {
    border-bottom: solid 2px var(--primary-color-light);
    transition: border-bottom 100ms;
}

#main-navbar > ul > li:hover:not(#main-navbar__logo) {
    border-bottom: solid 2px var(--text-color-light);
}

#main-navbar__logo img {
    height: 40px;
    /* Use filter to make the logo white */
    filter: grayscale(100%) brightness(2);
}

/* Hide certain text in the nav pills if the screen gets to cramped */
@media only screen and (max-width: 1140px) {
    #nav-pill-hide-when-cramped {
        display: none;
    }
    
    #main-navbar > ul {
        gap: 2ch;
    }
}

/* Little decorative lint at the left of the navbar */
#main-navbar__lint {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 32px;
    top: 63px;
    opacity: 100%;
    transition: opacity 400ms ease-in-out;
}

#main-navbar__lint:hover {
    opacity: 20%;
}

#main-navbar__lint > svg {
    /* Default is for some reason 300x250px? */
    width: 100px;
    height: 100px;
}

#main-navbar__lint > svg > path {
    fill: var(--primary-color);
}

#main-navbar__lint > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    padding-left: 15px;
    padding-top: 5px;
    filter: invert(100%);
}

/* Navbar for mobile */
#main-navbar-mobile {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Include padding in the calculated width */
    box-sizing: border-box;
    padding: 0 8px;
    background: linear-gradient(0deg, var(--primary-color-dark), var(--primary-color));
    z-index: 10;
}

#main-navbar-mobile > ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;
    /* Vertically align the contents of the rows to the center */
    align-items: center;
    /* Horizontally align the contents of each column to the center */
    justify-items: center;
}

/* The icons that lead you to a more detailed page */
.main-navbar-mobile__icon {
    display: grid;
    /* Horizontally center content in the rows */
    justify-items: center;
    color: var(--text-color-light);
    text-decoration: none;
    text-align: center;
    text-wrap: nowrap;
}

.main-navbar-mobile__icon, #main-navbar-mobile__home {
    border-radius: 16px;
    padding: 16px;
    transition: background-color 100ms;
}

.main-navbar-mobile__icon:hover, #main-navbar-mobile__home:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.main-navbar-mobile__icon > img {
    width: 50px;
    filter: invert(100%);
}

/* Logo that serves as a return to home button */
#main-navbar-mobile__home {
    display: inline-block;
}

#main-navbar-mobile__home > img {
    width: 200px;
    /* Use filter to make the logo white */
    filter: grayscale(100%) brightness(2);
}

@media only screen and (max-width: 600px) {
    .main-navbar-mobile__icon {
        font-size: 0.875rem;
    }

    .main-navbar-mobile__icon > img {
        width: 35px;
    }
    .main-navbar-mobile__icon, #main-navbar-mobile__home {
        padding: 8px;
    }
}

@media only screen and (max-width: 480px) {
    .main-navbar-mobile__icon, #main-navbar-mobile__home {
        padding: 4px;
    }
    #main-navbar-mobile__home > img {
        width: 100px;
    }
}

@media only screen and (max-width: 350px) {
    #main-navbar-mobile {
        padding: 0;
    }
}

/* Footer */
#main-footer {
    width: 100%;
    box-sizing: border-box;
    padding-top: 64px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 80px;
    background: linear-gradient(-5deg, var(--primary-color-dark), var(--primary-color));
    /* box-shadow: color, x-offset, y-offset, blur radius */
    box-shadow: rgba(0, 0, 0, 30%) 0 1px 16px;
}

#main-footer > nav {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

/* Left list of the footer */
#main-footer > nav > ul:first-child {
    align-self: end;
}

#main-footer > nav > ul:first-child img {
    height: 40px;
    /* Use filter to make the logo white */
    filter: grayscale(100%) brightness(2);
}

/* Right list of the footer */
#main-footer > nav > ul:last-child {
    display: grid;
    /* Align items to the right, instead of filling the grid column (default) */
    justify-items: end;
}

#main-footer > nav > ul > li > a {
    /* Display as inline-block is needed for scale to work */
    display: inline-block;
    color: var(--text-color-light);
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 16px;
    text-wrap: nowrap;
    transform: scale(100%);
    transition: background-color 100ms, transform 100ms var(--transition-overshoot);
}

#main-footer > nav > ul > li > a:hover {
    background-color: rgba(0, 0 , 0, 0.2);
    transform: scale(105%);
}

/* MOBILE */
@media only screen and (max-width: 768px) {
    :root {
        --body-side-padding: 16px;
    }
    
    /* Heading font sizes for mobile */
    h1, .h1 {
        font-size: 2.5rem;
        line-height: 120%;
    }
    
    h2, .h2 {
        font-size: 2.25rem;
        line-height: 120%;
    }
    
    h3, .h3 {
        font-size: 2rem;
        line-height: 120%;
    }
    
    h4, .h4 {
        font-size: 1.5rem;
        line-height: 140%;
    }
    
    h5, .h5 {
        font-size: 1.25rem;
        line-height: 140%;
    }
    
    h6, .h6 {
        font-size: 1.125rem;
        line-height: 140%;
    }

    /* Switch navbar to mobile */
    #main-navbar {
        display: none;
    }
    #main-navbar-mobile {
        display: block;
    }

    /* Switch footer to mobile */
    #main-footer {
        padding-top: 32px;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 150px;
    }

    #main-footer > nav {
        /* Change from two columns to one columns */
        grid-template-columns: auto;
        gap: 2rem;
    }

    #main-footer > nav > ul:last-child {
        /* Horizontally align to the left */
        justify-items: start;
    }
}