/* CSS FILE USED FOR taken.html */
/* Mobile only header text */
#taken-mobile-header {
    display: none;
    padding: var(--body-side-padding);
}

#taken-hero {
    margin-top: 63px;
    height: 700px;
    box-sizing: border-box;
    padding: 2rem var(--body-side-padding);
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 60%) 30%, rgba(0, 0, 0, 0%) 40%),
                      url("../img/schoof-en-rutte.png");
    background-size: cover;
    background-position: center;
    color: var(--text-color-light);
    text-shadow: 0 1px 4px #000;
    display: grid;
    align-content: end;
}

#taken-quoted-person {
    text-align: right;
}

#taken-descriptive-text {
    padding: 2rem var(--body-side-padding);
}

#taken-main-section {
    padding: 2rem var(--body-side-padding);
    background-color: var(--secondary-color-light);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.taken-taak {
    display: grid;
}

.taken-taak a.button {
    /* Vertically align to the bottom */
    align-self: end;
    /* Horizontally align to the right */
    justify-self: end;
}

/* Don't display the images in the columns for mobile */
.taken-taak > figure {
    display: none;
}

.taken-taak > figure > img {
    width: 100%;
    border-radius: 16px;
}

#taken-desktop-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    padding: var(--body-side-padding);
}

#taken-desktop-images img {
    width: 100%;
    /* Finally figured out how to make two images in a grid container match height without resorting to fixed units! */
    height: 100%;
    object-fit: cover;
    display: grid;
    border-radius: 16px;
}

@media only screen and (max-width: 1024px) {
    #taken-mobile-header {
        display: inline-block;
    }

    #taken-hero {
        margin-top: 0;
        height: 25rem;
    }

    #taken-hero > blockquote {
        text-align: center;
    }

    .taken-desktop-header-text {
        display: none;
    }

    #taken-main-section {
        grid-template-columns: 1fr;
        padding: 0;
    }

    .taken-taak {
        padding: 2rem var(--body-side-padding);
        row-gap: 1rem;
    }

    .taken-taak > figure {
        display: block;
    }

    #minister-van-algemene-zaken {
        background-color: var(--background-color);
    }

    #taken-desktop-images {
        display: none;
    }

    .button {
        text-align: center;
    }
}